.container{
    max-width: 1366px;
    background-color: #F9F9E2;
    height: 100vh;
    margin: 0 auto;
    padding: 45px;
}

.arriba{
    display: flex;
    justify-content: space-between;
}

.recAzul{
    background-color: rgb(82, 136, 218);
    border-radius: 10px;
    height: 150px;
    flex-grow: 1;
    
}

.circulo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(211, 137, 1);
}

.rectangulo{
    background-color: rgb(211, 137, 1);
    border-radius: 150px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    
}

.rectangulo2{
    background-color: white;
    margin: 0 auto;
    height: 300px;
    margin-top: 45px;
}

.recVerde{
    background-color: rgb(62, 165, 114);
    border-radius: 10px;
    height: 300px;
    flex-grow: 1;
    margin-top: 45px;
}

.circuloVerde{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: green;
    margin-top: 45px;
    margin-right: 50px;
}

.circuloVerde3{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: green;
    margin-top: 45px;
    margin-left: 50px;
}